
<div class="home grid__item-sm--12">
  <div class="grid">
    <item v-for="item in items" :item="item"></item>
    <div class="home__item grid__item-sm--6 grid__item-md--4 grid__item-lg--3">
      <router-link class="card card--muted color--muted p--little" to="/add">
        <p>
          <svg class="icon icon--add">
            <use xlink:href="img/sprite.svg#add"></use>
          </svg>
        </p>
        <p class="text--minute">Adicione aqui</p>
      </router-link>
    </div>
  </div>
  <div class="bottom-bar">
    <router-link class="bottom-bar__item bottom-bar__main button button--alt button--icon button--icon--large button--success" to="/add">
      <svg class="icon icon--add">
        <use xlink:href="img/sprite.svg#add"></use>
      </svg>
    </router-link>
    <button class="bottom-bar__item button button--alt button--icon button--danger" @click="clearItems">
      <svg class="icon icon--delete">
        <use xlink:href="img/sprite.svg#delete"></use>
      </svg>
    </button>
  </div>
</div>