//- Info
meta(name='robots', content='all')
meta(name='description', content=$.meta.description)
meta(name='keywords', content='calculadora, bebida, bebida barata, bebida em conta, calculadora de bebida')
meta(name='author', content='Acauã Montiel @acauamontiel')
meta(name='rating', content='General')
//- Open Graph - http://ogp.me/
meta(property='og:site_name', content='')
meta(property='og:title', content=$.meta.title)
meta(property='og:type', content='website')
meta(property='og:url', content='https://acauamontiel.com.br/beba-barato')
meta(property='og:image', content='https://acauamontiel.com.br/beba-barato/img/share-image.png')
meta(property='og:description', content= description)
//- Twitter Cards - https://dev.twitter.com/cards/getting-started
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@acauamontiel')
meta(name='twitter:creator', content='@acauamontiel')
meta(name='twitter:title', content=$.meta.title)
meta(name='twitter:description', content=$.meta.description)
meta(name='twitter:image', content= 'https://acauamontiel.com.br/beba-barato/img/share-image.png')
