/*
 * Cards
 */

.card
	display block
	background $theme-neutral-shine
	border $size-preon solid transparent
	box-shadow $shadow-small

	for $theme in $themes
		unless $theme is 'neutral'
			&--{$theme}
				border-color lookup('$theme-' + $theme)
				box-shadow none

	for $neutral in $themes.neutral
		&--{$neutral}
			$color = lookup('$theme-neutral-' + $neutral)

			if dark($color)
				color $theme-neutral-shine

			background $color
