
<form-set :validation="validation" :message="message" :error-message="errorMessage">
  <div class="form__combobox-container">
    <div class="form__combobox" tabindex="0" :disabled="disabled" :class="{&quot;form__combobox--open&quot;: open}" @click="open = !open">
      <div class="form__combobox__placeholder">{{selectedName}}</div>
      <label class="form__label">{{label}}</label>
      <div class="form__combobox__list">
        <button class="form__combobox__option" type="button" v-for="option in options" :key="option.id" @click="_value = option.id">{{option.name}}</button>
      </div>
    </div>
  </div>
</form-set>