extends ../../layouts/view

block content
	.about.grid__item-sm--12
		h1.text--subtitle Descrição
		p Calcule qual a bebida mais em conta, comparando diferentes tamanhos, preços e quantidades ao mesmo tempo.
		br

		h1.text--subtitle Desenvolvedor
		p Acauã Montiel
			br
			a(href='http://acauamontiel.com.br', target='_blank') www.acauamontiel.com.br
			br
			a(href='mailto:contato@acauamontiel.com.br') contato@acauamontiel.com.br
			br
			a(href='https://instagram.com/acauamontiel', target='_blank') @acauamontiel
			br
			a(href='https://linkedin.com/in/acauamontiel', target='_blank') Linkedin
